.footer_about {
    display: flex;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d3d2d2;
    border-bottom: 1px solid #d3d2d2;
    padding: 22px;
    a {
      text-transform: uppercase;
      font-size: 12px;
      color: #131402;
      text-decoration: none;
    }
    li {
      margin-left: 40px;
    }
  }
  .footer_logo {
    width: 146px;
    height: 12px;
    margin: 26px auto 45px;
  }
  @media screen and (max-width: 768px) {
    .footer_about {
      a {
        font-size: 11px;
      }
    }
  }
  @media only screen and (max-width: 480px) {
    .footer_about {
      display: block;
      text-align: center;
      li {
        margin-bottom: 16px;
      }
    }
  }
  