[class^="icon"] {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  cursor: pointer;
}
.icon-cart {
  background-image: url("../images/icons/cart.svg");
  width: 21px;
  height: 21px;
}

.icon-like {
  background-image: url("../images/icons/like.svg");
  width: 21px;
  height: 21px;
}

.icon-user {
  background-image: url("../images/icons/user.svg");
  width: 21px;
  height: 21px;
}

.icon-search {
  background-image: url("../images/icons/search.svg");
  width: 21px;
  height: 21px;
}
