* {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
[class^="icon"] {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  cursor: pointer;
}
.d-flex {
  display: flex;
}
/* Css header */
.background_image_header {
  background-image: url("images/background-image.png");
  background-repeat: round;
  background-color: #cccccc;
  height: 768px;
}

header {
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
    li {
      padding-right: 24px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .header_menu {
    margin-left: 54px;
  }
}

.header_logo {
  width: 111px;
  height: 35px;
}
.icon-cart {
  background-image: url("./images/icons/cart.svg");
  width: 21px;
  height: 21px;
}

.icon-like {
  background-image: url("./images/icons/like.svg");
  width: 21px;
  height: 21px;
}

.icon-user {
  background-image: url("./images/icons/user.svg");
  width: 21px;
  height: 21px;
}

.icon-search {
  background-image: url("./images/icons/search.svg");
  width: 21px;
  height: 21px;
}
